{{define "interface_method"}}{{template "method_header" .}};
{{end}}
{{define "interface"}}package {{packagePath .Path}};
{{$importKontext := createImportKontext .}}{{template "imports" $importKontext}}
{{template "comment" (overrideJavaDoc .Kommentar .Override)}}{{template "annotations" .Override}}public interface {{overrideClassName (nameFromPath .Path) .Override}} {{template "extends" createVererbungKontextInterface nil .ImplementsPaths $importKontext .Override}}{
{{range $index, $method := .Funktionen}}{{template "interface_method" createFunktionKontext $method $importKontext}}{{end}}
}{{end}}
