/.idea/
/grammar/node_modules/
/grammar/build/node_modules/node-addon-api/node_addon_api.Makefile
/grammar/build/node_modules/node-addon-api/node_addon_api.target.mk
/grammar/build/node_modules/node-addon-api/node_addon_api_except.target.mk
/grammar/build/node_modules/node-addon-api/node_addon_api_maybe.target.mk
/grammar/build/Release/.deps/Release/obj.target/node_modules/node-addon-api/node_addon_api_except.stamp.d
/grammar/build/Release/.deps/Release/obj.target/tree_sitter_dmf_binding/bindings/node/binding.o.d
/grammar/build/Release/.deps/Release/obj.target/tree_sitter_dmf_binding/src/parser.o.d
/grammar/build/Release/.deps/Release/obj.target/tree_sitter_dmf_binding.node.d
/grammar/build/Release/.deps/Release/tree_sitter_dmf_binding.node.d
/grammar/build/Release/obj.target/node_modules/node-addon-api/node_addon_api_except.stamp
/grammar/build/Release/obj.target/tree_sitter_dmf_binding/bindings/node/binding.o
/grammar/build/Release/obj.target/tree_sitter_dmf_binding/src/parser.o
/grammar/build/Release/obj.target/tree_sitter_dmf_binding.node
/grammar/build/Release/tree_sitter_dmf_binding.node
/grammar/build/binding.Makefile
/grammar/build/config.gypi
/grammar/build/Makefile
/grammar/build/tree_sitter_dmf_binding.target.mk
