{{define "imports" -}}
{{$imports := getImports . -}}
{{range $path, $elements := $imports -}}
{{$last := sub (len $elements) 1 -}}
import { {{range $index, $element := $elements -}}{{$element}}
{{- if ne $index $last}}, {{end}}
{{- end}} } from "{{$path}}";
{{end}}
{{end}}