{{- define "interface" -}}
{{$importKontext := .ImportKontext -}}
{{- if ne (len .Kommentar) 0}}{{template "comment" .Kommentar}}{{end -}}
export interface {{nameFromPath .Path}} {{if .ImplementsPaths}}{{template "implementsInterface" computeImplementNames .ImplementsPaths .ImportKontext}} {{end}}{
    {{- range $index, $funktion := .Funktionen }}
    {{template "funktion" createFunktionKontext $funktion $importKontext}}
{{- end}}
}{{end}}