{{define "klasse" -}}
{{$fields := toFields .Argumente .Referenzen .MultiReferenzen .ImportKontext -}}
{{$importKontext := .ImportKontext -}}
export class {{nameFromPath .Path}} {{if .ExtendsPath }}{{template "extends" pathType .ExtendsPath .ImportKontext}} {{end}}{{if .ImplementsPaths}}{{template "implements" computeImplementNames .ImplementsPaths .ImportKontext}} {{end}}{
{{range $index, $field := $fields -}}
{{template "variable" $field}}
{{end}}
    {{range $index, $funktion := .Funktionen -}}
    {{template "funktion" createFunktionKontext $funktion $importKontext}}
    {{end}}
}
{{end}}