{{define "class"}}package {{packagePath .Path}};
{{$importKontext := createImportKontext .}}{{template "imports" $importKontext}}
{{template "comment" .Kommentar}}public class {{nameFromPath .Path}} {{template "extends" createVererbungKontext .ExtendsPath .ImplementsPaths $importKontext}}{
{{range $index, $field := toFields .Argumente .Referenzen $importKontext}}{{template "field" $field}}{{end}}
{{range $index, $method := .Funktionen}}{{template "method" createFunktionKontext $method $importKontext}}{{end}}
}{{end}}
