{{define "class"}}package {{packagePath .Path}};
{{$importKontext := createImportKontext .}}{{template "imports" $importKontext}}
{{template "comment" .Kommentar}}public class {{nameFromPath .Path}} {{template "extends" createVererbungKontext .ExtendsPath .ImplementsPaths $importKontext}}{
{{range $index, $field := toFields .Argumente .Referenzen $importKontext}}{{template "field" $field}}{{end}}
{{$funktionen := findImplementedFunctions .}}{{range $index, $method := $funktionen}}{{template "method" createFunktionKontext $method $importKontext}}{{if ne $index (subtract (len $funktionen) 1)}}

{{end}}{{end}}
}{{end}}
