{{define "delegateInterface"}}package {{packagePath .Path}};
{{$importKontext := createImportKontext .}}{{template "imports" $importKontext}}
public interface {{nameFromPath .Path}} {
{{range $index, $method := .Funktionen}}{{template "interface_method" createFunktionKontext $method $importKontext}}{{end}}
}{{end}}
