{{define "entity"}}package {{packagePath .Path}};
{{$importKontext := createImportKontext .}}{{template "imports" $importKontext}}{{$fields := toFields .Argumente .Referenzen $importKontext}}import java.util.Objects;

{{template "comment" .Kommentar}}public class {{nameFromPath .Path}} {{template "extends" createVererbungKontext .ExtendsPath .ImplementsPaths $importKontext}}{
    protected static {{nameFromPath .Path}}Delegate delegate;
{{range $index, $field := $fields}}{{template "field" $field}}{{end}}
{{$funktionen := findImplementedFunctions .}}{{range $index, $method := $funktionen}}{{template "method" createFunktionKontext $method $importKontext}}{{if ne $index (subtract (len $funktionen) 1)}}

{{end}}{{end}}
{{$identifier := generateIdentifier .}}
    @Override
    public boolean equals(Object o) {
        if (o == null || getClass() != o.getClass()) return false;
        {{nameFromPath .Path}} entity = ({{nameFromPath .Path}}) o;
        return {{if eq (len $identifier) 0}}true{{end}}{{range $index, $field := $identifier}}Objects.equals({{$field.Name}}, entity.{{$field.Name}}) {{if ne $index (subtract (len $identifier) 1)}} && {{end}}{{end}};
    }

    @Override
    public int hashCode() {
        return Objects.hash({{range $index, $field := $identifier}}{{$field.Name}}{{if ne $index (subtract (len $identifier) 1)}}, {{end}}{{end}});
    }
}{{end}}