{{define "entity"}}package {{packagePath .Path}};
{{$importKontext := createImportKontext .}}{{template "imports" $importKontext}}{{$fields := toFields .Argumente .Referenzen $importKontext}}import java.util.Objects;

{{template "comment" .Kommentar}}public class {{nameFromPath .Path}} {{template "extends" createVererbungKontext .ExtendsPath .ImplementsPaths $importKontext}}{
{{range $index, $field := $fields}}{{template "field" $field}}{{end}}
{{range $index, $method := .Funktionen}}{{template "method" createFunktionKontext $method $importKontext}}{{end}}
    @Override
    public boolean equals(Object o) {
        if (o == null || getClass() != o.getClass()) return false;
        {{nameFromPath .Path}} entity = ({{nameFromPath .Path}}) o;
        return {{range $index, $field := $fields}}Objects.equals({{$field.Name}}, entity.{{$field.Name}}) {{if ne $index (subtract (len $fields) 1)}} && {{end}}{{end}};
    }

    @Override
    public int hashCode() {
        return Objects.hash({{range $index, $field := $fields}}{{$field.Name}}{{if ne $index (subtract (len $fields) 1)}}, {{end}}{{end}});
    }
}{{end}}