{{define "identifier"}}
#### Identifier von [{{.Name}}]({{.NameLink}})
{{.Kommentar}}
---
{{range $index, $element :=  .Elemente}}* **{{$element.Typ}} [{{$element.Name}}]({{$element.Link}})**
{{$element.Kommentar}}
{{end}}
{{end}}